.mobile-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    filter: sepia(100%) hue-rotate(250deg) saturate(300%);
}

h1 {
    margin: 2rem auto 1rem auto;
    font-size: 2.5rem;
    text-align: center;
}

.insights {
    color: #d109d1;
}

/*Tablet Version*/
@media (min-width: 769px) {
    h1 {
        font-size: 3.5rem;
    }
}

/*Laptop Version*/
@media (min-width: 1025px) {
    h1 {
        font-size: 3rem;
        text-align: left;
    }
}
