main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.paragraph {
    font-weight: 600;
    font-size: 1.3rem;
}

ul {
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: 600;
}

li {
    list-style-type: none;
}

.items-list {
    margin: 2rem 0;
}

.name-list {
    font-size: 1.3rem;
}

/*Tablet Version*/
@media (min-width: 769px) {
    .paragraph {
        font-size: 1.7rem;
    }

    ul {
        font-size: 1.9rem;
    }

    .name-list {
        font-size: 1.7rem;
    }
}
